@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.container {
  width: 90% !important;
}
#question {
    font-size: 16px;
    margin: 20px 20px 30px 0px;
    visibility: hidden;
}

#answer_np {
  visibility: hidden;
  margin-bottom: 0px;
}

#suggestions {
	margin-left: 0px;
}
.suggestion {
    border-color: rgba(119, 185, 248, 0.45);
    font-size: 13px;
}
.suggestion_box {
    padding-left: 0;
}
.suggestion .panel-body {
	background: rgba(119, 185, 248, 0.2);
	cursor: pointer;
}
#table {
	text-align: center;
}
.table th {
   text-align: center;
}

#answers {
   padding-left: 0;
   padding-right: 0;
}


#debug {
  width: 100%;
  text-align: left;
  visibility: hidden;
  display: inline-block;
  margin-bottom: 20px;
}
#debug .col-md-4 {
  padding: 0;
}

#answer_benchmark, #answer_chatbot {
    font-size: 18px;
    margin: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: right;
}

.highlighted {
  background-color: #ffa;
}

.result {
  background-color: #faa !important;
}


*, *:before, *:after {
  box-sizing: border-box;
}

.message {
  color: white;
  padding: 8px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;

}
.message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.you-message {
  background: #CCDBDC;
  color:#003366;
}
.me-message {
  background: #348edd;
  text-align: right;
}
.me-message:after {
    border-color: #348edd transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}

.step:after {
    border-color: #348edd transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}


.step {
  padding: 0px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  color: #003366;
}
.steps_box {
  display: none;
}

.panel-default:hover {
  background: rgba(119, 185, 248, 0.2);
}

.step .panel-body {
    min-height: 75px;
}

.chat-ul li{
    list-style-type: none;
}
.chat-ul {
  padding-left: 0;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#swisscom-logo {
   width: 30px;
}

#banner {
    width: 100% !important;
    margin: 5% !important;
    cursor: pointer;
}

#search_row {
    margin-top: 80px !important;
}

.right-arrow {
    font-size: 21px;
    text-align: center;
    position: absolute;
    top: 0.5em;
}

.popover {
  border-color:red;
}
.popover-title {
  background-color: rgba(255, 0, 0, 0.39); 
}

#correct {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 35px;
  font-size: 25px;
  color: #32C77C; 
  cursor: pointer;
}

#wrong {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  font-size: 25px;
  color: #e54c4c;
  cursor: pointer;
}

.feedback {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 13px;
}

.selectable tr td:hover {
  background-color: rgba(119, 185, 248, 0.2);
  cursor: pointer;
}
.steps_selectable:hover  {
  border: 2px solid rgba(255, 0, 0, 1) !important;
  cursor: pointer;
}

.steps_selected  {
  border: 2px solid rgba(255, 0, 0, 1) !important;
  cursor: pointer;
}

.feedback_cell {
  background-color: rgba(85, 161, 226, 0.72) !important;
}

#next, #next_steps {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#count {
  position: absolute;
  bottom: 5px;
  right: 155px;
}

#content {
  position: absolute;
  bottom: 5px;
  right: 72px;
}
#other, #submit {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#cell_example {
  font-size: 12px;
}

button[data-role='end'] {
  display: none;
}

#home_button {
  height: 54px;
  text-align: left;
  padding-top: 13px;
}
#home_button span {
  cursor: pointer;
}