#question {
    font-size: 18px;
    margin: 20px;
    padding-left: 80px;
}

#suggestions {
	margin-left: 0px;
}
.suggestion {
    border-color: rgba(119, 185, 248, 0.45);
    font-size: 13px;
}
.suggestion_box {
    padding-left: 0;
}
.suggestion .panel-body {
	background: rgba(119, 185, 248, 0.2);
	cursor: pointer;
}
#table {
	text-align: center;
}
.table th {
   text-align: center;
}

#answers {
   padding-left: 0;
   padding-right: 0;
}

#debug {
  text-align: left;
}
