
html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.thumbnail {
	background-color: #eee;
    border: 2px solid #ddd;
}

.caption {
	position: relative;
	padding: 0 10px 10px 10px;
}
.caption h3{
    text-align: center;
}

i {
	width: 100%;
	text-align: center;
	padding: 10px 10px 0 10px;
}

.fa-7x {
	font-size: 7em;
}

.button-go {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
p {
    text-align: justify;
}

#explain {
    text-align: right;
    cursor: pointer;   
}
#explain i {
    display: initial;
}
#explanation {
    margin: 15px;
    text-align: justify; 
    display: none;
}