.chat-area{
    min-height: 400px;
    background-color: #F8FAFB;
    margin-left: -10px;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
    border: none !important;
}
a+a,a+a.link,a+button.link,a.link+a,a.link+a.link,a.link+button.link,button.link+a,button.link+a.link,button.link+button.link{
    margin-left:0px !important;
}

.input-group-btn{
    width: 0% !important;
}

.nav__container{
    margin-left: 12.5% !important;
}
.content-area{
    margin-left: -40px;
}
#html_doc {
    position: relative;
    max-height: 700px;
    color:black;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F8FAFB;
    padding-left: 10px;
}

.container{
    margin-top: 20px;
}

.kp {
    position: relative;
    color:  #5944c6;
    font-weight: bold;
    display: inline;
}

.just-padding {
    padding: 15px;
}

#list-group {
    padding: 0;
    overflow: hidden;
}

b{
    font-weight: 600 !important;
}
.list-group-item{
    border: none;
    margin-top: 2px !important;
}

#under-group-item{
    padding-left: 35px;
}

#list-group{
    margin-top: -20px;
    position: relative;
    max-height: 700px;
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding-left: 300px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#search_row {
    margin-top: 30px;
    width: 1340px !important;
}

.input-group-btn {
    max-width: 80px;
}

#project_select{
    border-left: none !important;
    padding: 8px 0 10 0;
    border-right: solid 1px #ccc;
}
#project_select:focus, #search_button:focus {
    outline:none;
}

#answer_benchmark, #answer_chatbot {
    font-size: 18px;
    margin: 20px;
    padding-right: 30px;
    padding-left: 80px;
    text-align: right;
}

.fa-spinner {
    font-size: 17px;
    margin-left: 15px;
}

.answer {
    padding: 0 10px 0 10px;
}

.red {
    color: red;
    font-weight: bold;
}
.blue {
    color: #348edd;
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}
#banner {
    width: 50%;
    margin-top: 2%;
}

.answer_box {
    padding-left: 0px !important;
    font-size: 13px;
}

.neural {
    border-color: #c40d23 !important;
}

.favourite {
    position: absolute;
    left: 10px;
    top: 25%;
    color: #c40d23
}

.benchmark {
    border-color: #456bb2 !important;
}

.robot {
    margin: 10px 0 0 0;
}

#r-dumb {
    width: 20%;
}

#r-clever {
    width: 20%;
}

.group-larger {
    max-width: 95px !important;
}
