{% extends "ui-kit/site_layout.html" %}
{% block head %}
    {{ super() }}
    {# Add custom styles here.
    <link rel="stylesheet" href="{{ url_for('yourdemo.static', filename='yourdemo.css') }}">#}
{% endblock %}
{% block title %}
    Argumentation
{% endblock %}
{% block description %}
    Detects arguments in your text.
{% endblock %}
{% block content %}
    {# Put here your demo markup. #}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {# Add custom styles here.
    <script src="{{ url_for('yourdemo.static', filename='yourdemo.js') }}"></script>#}
{% endblock %}
