        <style>
        #doc_block{
          width: 50%;
          float:left;
        }
        #html_doc{
          position: relative;
          height: 600px;
          color: rgba(0, 0, 0, 0.2);
          overflow: scroll;
          }


        #div_list_kp{
            float:right;
            width:50%
        }

        .list-group-item:hover{
          background-color: rgba(240, 240, 240, 0.5);
        }

    .kp{
        position: relative;
        color:rgba(255, 0, 0, 0.5);
        font-weight: bold;
        display:inline;
     }

     .list-group-item{
       color:rgba(0, 16, 85, 1)
     }


    .start:hover{
        color:black;
    }

    .start:hover .kp{
        color:rgba(255, 0, 0, 1);
    }
    </style>


    <div class="container">
        <div id="upper_block" class="row">
          <div id="flat_method_name" class="col-xs-8 col-xs-offset-2">
            <ul class="list-group">
              <li class="list-group-item"><center><h2><b><font color="red">Oops!</font> The article you looked for is not available.</b></h2></center></li>
            </li>
          </div>
        </div>
    </div>
