{% extends "ui-kit/basic_io_layout.html" %}
{% block head %}
    {{ super() }}
    {# Add custom styles here.
    <link rel="stylesheet" href="{{ url_for('yourdemo.static', filename='yourdemo.css') }}">#}
{% endblock %}
{% block title %}
    {# Enter here your demo title. Keep it short. There is extra space for a description below. #}
{% endblock %}
{% block description %}
    {# One line for for demo description #}
{% endblock %}
{% block content_results %}
    {# Put here your markup for displaying the results. #}
{% endblock %}
{% block legend_results %}
    {# Put here your markup for a legend. #}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {# Add custom styles here.
    <script src="{{ url_for('yourdemo.static', filename='yourdemo.js') }}"></script>#}
{% endblock %}
