{% extends "ui-kit/basic_io_layout.html" %}

{% block head %}
    {{ super() }}
    {#Add custom styles here.
    <link rel="stylesheet" href="{{ url_for('yourdemo.static', filename='yourdemo.css') }}">#}
{% endblock %}

{% block title %}{#Enter here your demo title. Keep it short. There is extra space for a description below.#}{% endblock %}

{% block description %}{#One line for for demo description#}{% endblock %}

{% block input_placeholder_text %}{#Customize the input field placeholder text.#}{% endblock %}

{% block submit_button_text %}{#Customize the submit button text.#}{% endblock %}

{% block samples %}
    {{ super() }}
    {#Remove «{{ super() }}» and add you custom makrup if you want to show something different than the default sample list. There is a sample markup below#}
    {#<div class="sample-container">
        <div class="sample-container__header">
            <h4>Samples</h4>
        </div>
        <div id="sample-data" class="row">
            <p>Sample data</p>
        </div>
    </div>#}
{% endblock %}

{% block content_result_legend %}
    {#Put here your markup for a legend or description of the result.#}
    <h4>Legend</h4>
    <div class="row">
        <div class="col-xs-12 aix-legend">
            <span>
                <i class="icon icon-064-record-filled orchid" aria-hidden="true"></i>
                <span class="font--semi-bold">Class orchid</span>
            </span>
            <span class="aix-legend-item-description">If the class is not self explanatory there is some additional space. This text can also go over multiple lines.</span>
        </div>
        <div class="col-xs-12 aix-legend">
            <span>
                <i class="icon icon-064-record-filled iris" aria-hidden="true"></i>
                <span class="font--semi-bold">Class iris</span>
            </span>
            <span class="aix-legend-item-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
        </div>
        <div class="col-xs-12 col-lg-6 aix-legend">
            <span>
                <i class="icon icon-064-record-filled pink" aria-hidden="true"></i>
                <span>Class – pink</span>
            </span>
        </div>
        <div class="col-xs-12 col-lg-6 aix-legend">
            <span>
                <i class="icon icon-064-record-filled turquoise" aria-hidden="true"></i>
                <span>Class – turquoise</span>
            </span>
        </div>
        <div class="col-xs-12 col-lg-6 aix-legend">
            <span>
                <i class="icon icon-064-record-filled apple" aria-hidden="true"></i>
                <span>Class – apple</span>
            </span>
        </div>
        <div class="col-xs-12 col-lg-6 aix-legend">
            <span>
                <i class="icon icon-064-record-filled petrol" aria-hidden="true"></i>
                <span>Class – petrol</span>
            </span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#Add custom styles here.
    <script src="{{ url_for('yourdemo.static', filename='yourdemo.js') }}"></script>#}
{% endblock %}