{% extends "ui-kit/chatbot_layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block title %}Slot Filling & Intent Detection{% endblock %}

{% block description %}We extract the intent and the slots mentioned and use them to create an API call{% endblock %}

{% block input_placeholder_text %}{{ super() }}{% endblock %}

{% block samples %}{{ super() }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('sfid.static', filename='sfid.js') }}"></script>
{% endblock %}
