.speech-buble > a {
    font-size: 14px;
}

/*.sample-container__header{
    display: none;
}*/

.userInstruction{
    font-weight: 300;
}

.sample-data{
    color: #858585;
    font-weight: 300;
}

pre{
    overflow: hidden;
    font-size: 16px;
    padding: 10px 0px;
    margin: 0px;
}

.display-none{
    display: none;
}
