.speech-buble > a {
    font-size: 14px;
}

.userInstruction{
    margin-bottom: 16px;
    font-weight: 300;
}

.sample-data{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #858585;
    font-weight: 300;
    margin-bottom: 24px;
}

pre{
    overflow: hidden;
    font-size: 16px;
    padding: 10px 0px;
    margin: 0px;
}

.display-none{
    display: none;
}

.information-data > div > p{
    margin-bottom: 24px;
}

#theater{
    margin-bottom: 0px;
}

.data-label{
    display: flex;
}

#data-container{
    margin-bottom: 32px;
}

.checked{
    color: #25B252;
    padding: 0px 10px;
    margin-bottom: 21px;
}

.btn-sample-refresh{
    padding-top: 7px;
    cursor: pointer;
}

.hljs-string{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-data{
    color: #0C847E;
}

.user-data::first-letter{
    text-transform: capitalize;
}

#hint-question > p{
    font-size: 18px;
    font-weight: 300;
    color: #1781E3;
    cursor: pointer;
}

#hint-question > p:hover{
    color: #0851DA;
}

.advice-container__header > h4{
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: 16px;
}
