{% extends "ui-kit/site_layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-kit/custom/css/basic-io-layout.css') }}">
    {# Child template header information #}
{% endblock %}
{% block content %}
    <ul class="tabs tabs--big tabs--long aix-tab-menu">
        <li class="tab">
            <a href="#tab-input" class="tab-link">Input</a>
        </li>
        <li class="tab">
            <a id="tab-results-link" href="#tab-results" class="tab-link disabled">Results</a>
        </li>
    </ul>
    <div class="loader-spinner loader-spinner--small loader-spinner--plain aix-loader aix-invisible"></div>
    <div id="tab-input" class="row aix-row aix-tab-content">
        <div class="col-lg-6">
            <div class="aix-data-input-content">
                <div class="input-field input-multiline aix-textarea">
                    <textarea id="input-submit" placeholder="Enter a text or choose one of our samples."></textarea>
                </div>
                <input id="btn-submit" class="button button--primary button--full" type="submit" value="Submit">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="sample-container aix-data-input-content aix-invisible">
                <div class="sample-container__header">
                    <h4>Samples</h4>
                    <i id="btn-refresh" class="btn-sample-refresh icon icon-071-retry icon--s3 icon--flip-horizontal"
                       aria-hidden="true"></i>
                </div>
                <div class="sample-data-loader">
                    <div class="loader-spinner loader-spinner--large loader-spinner--plain"></div>
                </div>
                <div id="sample-data" class="row">
                    {#Samples will be added here automatically#}
                </div>
            </div>
        </div>
    </div>
    <div id="tab-results" class="row aix-row aix-tab-content aix-invisible">
        <div class="col-lg-6">
            <div class="aix-result-content">
                <div class="aix-result-content-inner">
                    {% block content_result_data %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="aix-result-content">
                <div class="aix-result-content-inner--legend">
                    {% block content_result_legend %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ui-kit/custom/js/basic-io-layout.js') }}"></script>
    {# Child template scripts #}
{% endblock %}