{% extends "ui-kit/site_layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-kit/custom/css/basic-io-layout.css') }}">
    {# Child template header information #}
{% endblock %}
{% block content %}
    <div id="tab-input" class="row aix-row">
        <div class="col-lg-6">
            <div class="input-field input-multiline aix-textarea">
                <textarea id="input-submit"
                          placeholder="{% block input_placeholder_text %}Enter a text or choose one of our samples.{% endblock %}"></textarea>
            </div>
            <button id="btn-submit" class="aix-button button button--primary button--full disabled">
                <span>{% block submit_button_text %}Submit{% endblock %}</span>
                <div class="ellipsis-loader aix-invisible">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>
        </div>
        <div class="col-lg-6">
            {% block samples %}
                <div class="sample-container aix-invisible">
                    <div class="sample-container__header">
                        <h4>Samples</h4>
                        <i id="btn-refresh"
                           class="btn-sample-refresh icon icon-071-retry icon--s3 icon--flip-horizontal"
                           aria-hidden="true"></i>
                    </div>
                    <div class="sample-data-loader">
                        <div class="loader-spinner loader-spinner--large loader-spinner--plain"></div>
                    </div>
                    <div id="sample-data" class="row">
                        {#Samples will be added here automatically#}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div id="tab-results" class="row aix-row aix-invisible">
        <div class="col-lg-6">
            <div id="aix-result-data" class="aix-result-content">
                {#Data passed through showResults method will be added here automatically #}
            </div>
            <button id="btn-try-another" class="button button--secondary button--full">Try another text</button>
        </div>
        <div class="col-lg-6">
            <div class="aix-result-content--legend">
                {% block content_result_legend %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ui-kit/custom/js/basic-io-layout.js') }}"></script>
    {# Child template scripts #}
{% endblock %}