{% extends "ui-kit/_site_layout.html" %}
{% block head %}
    {{ super() }}
    {# Add custom styles here. #}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {# Add custom scripts here. jQuery is already imported. #}
{% endblock %}
{% block title %}
    {# Define demo title here. Keep it short. There is extra space for a description below.#}
{% endblock %}
{% block description %}
    {# Define demo description here. #}
{% endblock %}


{% block content %}
    {# Put here your demo markup. #}
{% endblock %}
