/*
* Colors
*/

$light-blue: #EEF3F6;
$blue: #1781E3;
$gray: #666666;
$blue-gray: #54636D;

/*
* Padding
*/

$padding-xsmall: 4px;
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;
$padding-xlarge: 32px;
$padding-xxlarge: 40px;