<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/chatbot.css') }}">


  </head>
  <body>
    <div class="container">
        <div class="row" id="banner_row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><center><img id=banner src='{{ url_for('static', filename='assets/swisscom-logo.png') }}'></img></center></div>
            <div class="col-md-1"></div>
        </div>
      <div class="row" id="search_row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" id='project_select'>
                            <span id="project_value">Chatbot</span> 
                            </button>
                        </span>
                        <input type="text" id="input_text" class="form-control input-lg" placeholder="Ask me something!" />
                        <span class="input-group-btn">
                            <button id="search_button" class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
      </div>

      <div class="row" id="dialog_row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="question"></div>
                <div class="row" id="answer_benchmark">
                    <div  class="col-md-6">
                        <div id="answer_nn"></div>
                        <img class="robot" id='r-clever' src='{{ url_for('static', filename='assets/r-clever.png') }}'></img>
                    </div>
                    <div class="col-md-6">
                        <div id="answer_solr"></div>
                        <img class="robot" id='r-dumb' src='{{ url_for('static', filename='assets/r-dumb.png') }}'></img>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascripts/common.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascripts/chatbot.js') }}"></script>
  </body>
</html>