<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/error.css') }}">
  </head>
  <body>
    <div class="container">
        <div class="row" id="banner_row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><center><img id=banner src='{{ url_for('static', filename='assets/swisscom-logo.png') }}'></img></center></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" id="error_row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><center><span id="error404">404</span><span id="welcome"> - Oops, it seems there is no demo to show here. Have you tried any of these?</span></center></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" id="working">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="demo_name">SQL Chatbot </div>
                <div class="demo_name">Neural Programmer Football </div>
                <div class="demo_name">Key Phrase Extraction </div>
                <div class="demo_name">Key Phrase Extraction (Group) </div>
                <div class="demo_name">Name Entity Recognition (NER) </div>
                <div class="demo_name">Summarization </div>
                <div class="demo_name">Slot Filling and Intent Detection </div>
                <div class="demo_name">Neural Programmer Swisscom </div>
                <div class="demo_name">Chatbot Goal Oriented </div>
                <div class="demo_name">Emotion Recognition </div>
                <div class="demo_name">Grocery Identification </div>
                <div class="demo_name">Argumentation </div>
                <div class="demo_name">GSW </div>
                <div class="demo_name">Machine Translation </div>
                <div class="demo_name">Speaker Identification </div>
		<div class="demo_name">Language Identification </div>
            </div>
            <div class="col-md-5">
                <div class="demo_url"><a href="/seq2sql">/seq2sql</a></div>
                <div class="demo_url"><a href="/neural_programmer/steps">/neural_programmer/steps</a></div>
                <div class="demo_url"><a href="/kp">/kp</a></div>
                <div class="demo_url"><a href="/kp/emb">/kp/emb</a></div>
                <div class="demo_url"><a href="/ner">/ner</a></div>
                <div class="demo_url"><a href="/summarization">/summarization</a></div>
                <div class="demo_url"><a href="/sfid">/sfid</a></div>
                <div class="demo_url"><a href="/neural_programmer/swisscom">/neural_programmer/swisscom</a></div>
                <div class="demo_url"><a href="/go_chatbot">/go_chatbot</a></div>
                <div class="demo_url"><a href="/emotion">/emotion</a></div>
                <div class="demo_url"><a href="/grocery">/grocery</a></div>
                <div class="demo_url"><a href="/argumentation">/argumentation</a></div>
                <div class="demo_url"><a href="/gsw">/gsw</a></div>
                <div class="demo_url"><a href="/translate">/translate</a></div>
                <div class="demo_url"><a href="/sid">/sid</a></div>
		<div class="demo_url"><a href="/lid">/lid</a></div>

            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="group_title"> PREVIOUS PROJECTS </div>
        <div class="row" id=previous>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="demo_group">
                    <div class="demo_name">Ubuntu Chatbot - Retrieval </div>
                    <div class="demo_name">Ubuntu Chatbot - Generative </div>
                    <div class="demo_name">Opinion Target </div>
                    <div class="demo_name">CHURN </div>
                </div>
            </div>
            <div class="col-md-5">
                    <div class="demo_url"><a href="/chatbot/ubuntu">/chatbot/ubuntu</a></div>
                    <div class="demo_url"><a href="/chatbot/ubuntuseq2seq">/chatbot/ubuntuseq2seq</a></div>
                    <div class="demo_url"><a href="/opinion">/opinion</a></div>
                    <div class="demo_url"><a href="/churn">/churn</a></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascripts/common.js') }}"></script>
  </body>
</html>
