
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/grocery.css') }}">

    </head>
    <body>
        <div class="container">
            <div class="row" id="banner_row">
                <div class="col-md-1"></div>
                <div class="col-md-10"><center><img id=banner src='{{ url_for('static', filename='assets/swisscom-logo.png') }}'></img></center></div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" id="search_row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" id="input_text" class="form-control input-lg" placeholder="Upload Image or Select from samples below :)" readonly />
                        </div>
                        <div class="input-group col-md-12">
                            <input type="file" id="input_file" class="form-control input-lg" accept="image/*" />
                            <!--<span >-->
                                <!--<input type="text" id="upload_text" class="form-control input-lg" placeholder="Upload" readonly/>-->
                            <!--</span>-->
                            <span class="input-group-btn">
                                <!--<button id="refresh_button" class="btn btn-info btn-lg" type="button">-->
                                    <!--<i class="glyphicon glyphicon-refresh"></i>-->
                                <!--</button>-->
                                <button id="upload_button" class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-upload"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--<div class="row" id="search_row">-->
                <!--<div class="col-md-1"></div>-->
                <!--<div class="col-md-5 learning_type">-->
                    <!--<label class='learning_label'>-->
                    <!--<input type="radio" id="supervised" name="learning" value="supervised" checked /> Supervised</label>-->
                <!--</div>-->
                <!--<div class="col-md-5 learning_type">-->
                    <!--<label class='learning_label'>-->
                    <!--<input type="radio" id="unsupervised" name="learning" value="unsupervised" /> Unsupervised</label>-->
                <!--</div>-->
                <!--<div class="col-md-1"></div>-->
            <!--</div>-->
            <div class="row" id="question_row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="question"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" id="answer_row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="col-md-12 answer_model">
                        <div id="answer_embeddings"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" id="suggestions_row">

                <div class="col-md-1"></div>
                <div class="row" class="col-md-10" id="gallery">
                    <div class="row" id="suggestions"></div>
                    <img class="col-md-3" id=img_sug1 src='{{ url_for('static', filename='assets/grocery_images/static_8.jpg') }}'  vspace="20" ></img>
                    <img class="col-md-3" id=img_sug2 src='{{ url_for('static', filename='assets/grocery_images/static_14.jpg') }}' vspace="20"></img>
                    <img class="col-md-3" id=img_sug3 src='{{ url_for('static', filename='assets/grocery_images/static_17.jpg') }}' vspace="20"></img>
                    <img class="col-md-3" id=img_sug4 src='{{ url_for('static', filename='assets/grocery_images/static_73.jpg') }}' vspace="20"></img>
                    <div class="row" id="suggestions1"></div>
                    <img class="col-md-3" id=img_sug5 src='{{ url_for('static', filename='assets/grocery_images/static_6.jpg') }}'  vspace="20"></img>
                    <img class="col-md-3" id=img_sug6 src='{{ url_for('static', filename='assets/grocery_images/static_13.jpg') }}' vspace="20"></img>
                    <img class="col-md-3" id=img_sug7 src='{{ url_for('static', filename='assets/grocery_images/static_5.jpg') }}' vspace="20"></img>
                    <img class="col-md-3" id=img_sug8 src='{{ url_for('static', filename='assets/grocery_images/static_16.jpg') }}' vspace="20"></img>

                </div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
        <script src="{{ url_for('static', filename='javascripts/common.js') }}"></script>
        <script src="{{ url_for('static', filename='javascripts/grocery_product.js') }}"></script>

        <!--<script src="../static/grocery_product.js"></script>-->
    </body>
</html>
