{% extends "ui-kit/site_layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Tweets labelling{% endblock %}

{% block description %}Tweets labelling to augment database{% endblock %}

{% block content %}

{#    <h1>Datasets available</h1>#}
    {#Put here your demo markup.#}
{#<form method="post">#}
{##}
{#    #}
{##}
{##}
{#</form>#}

    <form method="post">
        <div class="empty-state__input">
            <div class="empty-state__icon">
{#                <i class="icon icon-058-person" aria-hidden="true"></i>#}
                <i class="icon icon-042-group" aria-hidden="true"></i>
            </div>
            <div class="empty-state__body">
                <div class="body__status">Please enter a username</div>
            </div>
             <div class="input-field" data-init="auto">
                <input type="text" id="user-name-3" name="username" placeholder="username">
                <label for="user-name-3">User Name</label>
             </div>
            <div class="button-group">
                <button class="button button--primary button--full" name="username" type="submit">Next</button>
            </div>
        </div>
    </form>




{% endblock %}

{% block scripts %}
    {{ super() }}
    {#Add custom styles here.
    <script src="{{ url_for('yourdemo.static', filename='yourdemo.js') }}"></script>#}
{% endblock %}
