<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery Product Detection Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.css">  
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/grocery.css') }}"> 
</head>
<body>
<div class="container">
    <div class="row" id="banner_row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><center><img id="banner" src='{{ url_for('static', filename='assets/swisscom-logo.png') }}'></img></center></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="answer_row">
        <a id="home_button" href="/grocery"><span class="fa fa-2x fa-arrow-left"></span></a>
        <p>Green Regions show Detected Products on the shelf</p>
        <hr>
        {% for image_name in image_names %}
        <div class="col-lg-3 col-md-5 col-xs-6 thumb">
            <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">
        </div>
        {% endfor %}
    </div>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='javascripts/grocery_product.js') }}"></script>

</body>
</html>