{% extends "ui-kit/site_layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-kit/custom/css/chatbot-layout.css') }}">
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ui-kit/custom/js/chatbot-layout.js') }}"></script>
    <script>
        ChatbotLayout.config(
            {
                sampleLink: 'http://127.0.0.1:5000/static/javascripts/lists/sfid.json',
                chatbotVocabulary: {
                    startingConversation: '', answeringQuestion: []
                },
                numberOfSamples: 8
            }
        )
    </script>
{% endblock %}
{% block title %}
    Slot Filling and Intent Detection
{% endblock %}
{% block description %}
    This is a demo description.
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="chat-area">
                <div class="chat-area__history">
                    <div class="bot-buble-container">
                        <div class="bot-buble-container__inner">
                            <img src="{{ url_for('static', filename='ui-kit/custom/assets/bot.svg') }}"/>
                            <div class="speech-buble">
                                <p>Type a question or choose from one of our suggestions…</p>
                            </div>
                        </div>
                    </div>
                    <div class="speech-buble speech-buble--user">
                        <p>Who played Kyle Reese in Terminator?</p>
                    </div>
                    <div class="bot-buble-container">
                        <div class="bot-buble-container__inner">
                            <img src="{{ url_for('static', filename='ui-kit/custom/assets/bot.svg') }}"/>
                            <div class="speech-buble">
                                <p>I love your questions about <span class="text-height">movies</span> ...</p>
                                <div class="detected-information">
                                    <span class="text-label">Detected information</span>
                                    <p>Character: <span class="text-height">Kyle Reese</span></p>
                                    <p>Title: <span class="text-height">Terminator</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- extra content-->
                    <div class="bot-buble-container">
                        <div class="bot-buble-container__inner">
                            <img src="{{ url_for('static', filename='ui-kit/custom/assets/bot.svg') }}"/>
                            <div class="speech-buble">
                                <p>Type a question or choose from one of our suggestions…</p>
                            </div>
                        </div>
                    </div>
                    <div class="speech-buble speech-buble--user">
                        <p>Who played Kyle Reese in Terminator?</p>
                    </div>
                </div>
                <div class="input-field input-field--static-label chat-area__input" data-init="auto">
                    <input type="text" id="static-label-input-1" placeholder="Ask a question">
                    <button class="button button--primary send-button ">
                        <img src="{{ url_for('static', filename='ui-kit/custom/assets/send.svg') }}"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="sample-container">
                <div class="sample-container__header">
                    <h4>Suggested sample questions</h4>
                    <i class="btn-sample-refresh icon icon-071-retry icon--s3 icon--flip-horizontal"
                       aria-hidden="true"></i>
                </div>
                <div id="sample-data" class="row">

                </div>
            </div>
        </div>
    </div>
{% endblock %}