@import 'common/variables';

/*
* Tab layout start
*/

.aix-row > div {
  padding-right: 16px;
  &:last-of-type {
    padding-left: 16px;
  }
}

.aix-data-input-content {
  margin-top: $padding-large;
}

.aix-result-content {
  margin-top: $padding-large;
  min-height: 491px;
}

.aix-result-content-inner {
  padding: $padding-small $padding-medium $padding-small $padding-medium;
  border: 1px solid #fff;
  > p {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 48px;
    font-weight: 300;
  }
}

.aix-result-content-inner--legend {
  background-color: $light-gray;
  padding: $padding-large;
  > h4 {
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: $padding-medium;
  }
}

.aix-invisible {
  display: none;
}

/*
* Tab layout end
*/

/*
* Samples start
*/

.sample-container {
  padding: $padding-large $padding-large 0 $padding-large;
}

.sample-container__header {
  display: flex;
  > h4 {
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: $padding-medium;
  }
}

.sample-box {
  padding: $padding-medium;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid $gray;
  border-radius: 5px;
  height: 88px;
  margin-bottom: $padding-medium;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }
}

.btn-sample-refresh {
  cursor: pointer;
}

/*
* Samples end
*/

/*
* Sample loader start
*/

.sample-data-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 416px;
}

.aix-tab-menu > li > a {
  padding-top: 0 !important;

}

.aix-textarea {
  margin-bottom: $padding-medium;
  height: 427px !important;
  > textarea {
    margin-top: 0 !important;
    padding: $padding-small $padding-medium $padding-small $padding-medium;
    height: 427px !important;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 48px;
    font-weight: 300;
  }
}

/*
* Sample loader end
*/

/*
* Loader spinner
 */

.aix-loader {
  position: absolute;
  top: 36px;
  right: 40px;
}