<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {#Swisscom SDX CSS#}
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-kit/sdx/css/sdx.min.css') }}">
    {#Custom CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-kit/custom/css/site-layout.css') }}">

    <title>Grocery Product Detection Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.css">  
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/grocery.css') }}"> 
</head>
<body>
<div class="site-wrapper">
    <div class="content-wrapper">
        <div class="header__container">
            <nav>
                <div class="nav__container ">
                    <div>Swisscom AI Research Demo</div>
                </div>
            </nav>
            <header>
                <div class="header__container">
                    <img class="avatar"
                         src="{{ url_for('static', filename='ui-kit/custom/assets/research-icon.svg') }}">
                    <div class="title-container">
                        <div class="main-title">{% block title %}{% endblock %}</div>
                        <div class="sub-title">{% block description %}{% endblock %}</div>
                    </div>
                </div>
            </header>
        </div>
        <div class="content-area">
            <div class="colored-background"></div>
            <div class="content-stage container">
                <div class="container">

                <div class="row" id="answer_row">
                    <a id="home_button" href="/grocery"><span class="fa fa-2x fa-arrow-left"></span></a>
                    <p>Green Regions show Detected Products on the shelf</p>
                    <hr>
                    {% for image_name in image_names %}
                    <div class="col-lg-3 col-md-5 col-xs-6 thumb">
                    <img class="img-responsive" src=" {{url_for('grocery.send_image', filename=image_name)}}">
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-outer">
        <div class="footer footer--compact footer--light footer-inner">
            <a class="logo">
                <span class="logo-lifeform" aria-label="Swisscom Logo"/>
            </a>
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="https://swisscom.ch/ai" class="nav-link" target="_blank">
                        AI for your business?
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <script src="{{ url_for('static', filename='ui-kit/sdx/js/sdx.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
    </script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='javascripts/grocery_product.js') }}"></script>

</body>
</html>
