<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

    <!-- CSS  -->
    <link rel="stylesheet" href="/static/ui-kit/sdx/css/sdx.min.css">
    <link rel="stylesheet" href="/static/ui-kit/custom/css/site-layout-kp.css">


</head>

<div class="header__container">
    <nav>
        <div class="nav__container">
            <div>Swisscom AI Research Demo</div>
        </div>
    </nav>
    <header>
        <div class="header__container">
            <img class="avatar" src="/static/ui-kit/custom/assets/custom_robot.svg" alt="robot">
            <div class="title-container">
                <div class="main-title">Key Phrase Group Extractor</div>
                <div class="sub-title">Extract key phrases from a website and group them</div>
            </div>
        </div>
    </header>
</div>

<body>
    <div class="container">
        <div class="row" id="banner_row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" id="search_row">
            <div class="col-md-12">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" id="input_text" class="form-control input-lg" placeholder="Enter an URL" />
                        <span class="input-group-btn" id="last_group">
                            <button id="search_button" class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content area -->
    <br>
    <br>
    <div class="container">
        <div class="content-area">
            <div class="content-stage container">
                <div id="doc_block" class="col-xs-6">
                    <div class="chat-area">
                        <div id="html_doc">
                        </div>
                    </div>
                </div>
                <div id="div_list_kp" class="col-xs-6">
                    <div class="just-padding">
                        <div id="list_kp" class="list-group list-group-root">
                            <div id="group_doc">
                                <ul id="list-group">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row' id="setpopup">
        <div data-role="main" class="ui-content">
            <a href="#control_pannel" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-gear ui-btn-icon-left">Settings</a>

            <div data-role="popup" id="control_pannel" class="ui-content" style="min-width:250px;">
                <div>
                    <h3>Settings</h3>
                    <label for="nbkp">Number of keyphrases</label>
                    <input type="number" name="nbkp" id="nbkp" value=10>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer-outer">
        <div class="footer footer--compact footer--light footer-inner">
            <a class="logo">
                <span class="logo-lifeform" aria-label="Swisscom Logo"></span>
            </a>
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="https://swisscom.ch/ai" class="nav-link" target="_blank">
                        AI for your business?
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascripts/common.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascripts/kp_extraction_emb.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</body>

</html>