{% extends "ui-kit/chatbot_layout.html" %}

{% block head %}{{ super() }}
    <link rel="stylesheet" href="{{ url_for('go_chatbot.static', filename='go_chatbot.css') }}">
    <link rel="stylesheet" href="../go_chatbot/static/highlight/styles/ascetic.css">
{% endblock %}

{% block title %}Goal-Oriented Chatbot{% endblock %}

{% block description %}Goal-Oriented Chatbot that helps users book a movie tickets{% endblock %}

{% block input_placeholder_text %}{{ super() }}{% endblock %}

{% block samples %}
    <div class="sample-container aix-invisible">
        <div class="sample-container__header">
            <h4>Needed information</h4>
            <i id="btn-refresh"
               class="btn-sample-refresh icon icon-071-retry icon--s3 icon--flip-horizontal"
               aria-hidden="true"></i>
        </div>
        <p class="userInstruction">To get a movie ticket you need to inform the chatbot about the following information.</p>
        <div class="sample-data-loader">
            <div class="loader-spinner loader-spinner--large loader-spinner--plain"></div>
        </div>
        <div id="data-container" class="row">
            <div class="col-md-6 information-data">
                <p class="information">moviename</p>
                <p class="information">number of people</p>
                <p class="information">date</p>
                <p class="information">time</p>
                <p class="information">city</p>
                <p class="information">theatre</p>
            </div>
            <div id="sample-data" class="col-md-6">

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../go_chatbot/static/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('go_chatbot.static', filename='go_chatbot.js') }}"></script>
{% endblock %}
